
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* BOOTSTRAP CLASSES */

:root {
    --font-primary: 'Instrument Sans', sans-serif;
    --font-secondary: 'Alumni Sans SC', sans-serif;
    --font-terciary: 'Alumni Sans', sans-serif;
    --bs-primary: #0FB6D6;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
    
}

.btn-primary {
    color: #011215;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    min-width: 200px;
    max-width: 330px;
}

.btn-primary:hover {
    background-color: #0c869e;
    border-color: #0c869e;
}

.btn-primary:active {
    background-color: #0c7388 !important;
    border-color: #0c7388 !important;
}

header {
    font-family: var(--font-primary);
}

header a {
    text-decoration: none;
    color: #0A2B38;
    font-weight: 500;
}

header a:hover {
    text-decoration: underline;
}

body {
    background-color: #191621;
    min-height: 100vh;
    color: #FFF;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
}

.bg-index {
    background: linear-gradient(0deg, #105366 -50%, #191621 50%);
}

.title-lg {
    font-family: var(--font-secondary);
    font-size: clamp(2rem, 8vw, 6rem);
    text-wrap: balance;
}
.title-md {
    font-family: var(--font-secondary);
    font-size: 3rem;
}
.paragraph {
    font-family: var(--font-terciary);
    font-size: 1.5rem;
}

footer {
    background: linear-gradient(0deg, #191621 -15%, #105366 200%);
}

/* ALGORITHMS PAGE */

.algorithm-card {
    color: white;
    background-color: #1B1A2B;
    border-radius: 10px;
    border-color: #2F2E46;
}

.card-title {
    font-family: var(--font-terciary);
}

.algorithm-card .btn-primary {
    min-width: 60px; 
    width: auto;
}

.desc {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.desc-expand {
    max-height: 200px;
}

/* DATA STRUCTURE PAGE*/

.ds-card {
    color: white;
    background-color: #1B1A2B;
    border-radius: 80px;
    border: 1px solid #2F2E46;

    transition: opacity 0.25s ease, transform 0.9s ease;
    opacity: 0;
    transform: translateY(32px);
    visibility: hidden;
    height: 0px;
    margin: 0px;
    padding: 0px;

    max-width: 750px;

}

.ds-card.active {
    opacity: 1; 
    transform: translateY(0px);
    visibility: visible;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: clamp(0px, 0vw, 50px);
    margin-right: clamp(0px, 0vw, 50px);
    padding: 30px 40px;

}  

.ds-card.active h2 {
    margin-bottom: 25px;
}

.card-title {
    font-family: var(--font-secondary);
    font-size: clamp(1.5rem, 8vw, 2.5rem);

}
.card-p {
    font-size: 1rem;
}

/* SQL PAGE */

.sql-card {
    max-width: 500px;
    background-color: #1B1A2B;
    color: white;
    border-radius: 50px;
    border-color: #2F2E46;

}

.sql-card .card-body {
    text-align: center;
}

.sql-card .card-title {
    text-align: right;
    font: var(--font-primary);
    padding-right: 2%;
}

.sql-card pre {
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-x: auto;
    margin: 0px;
}

.sql-table {
    margin: 25px;
    border: 1px solid #153651;
    padding: 100px;

    width: 100%;
    max-width: 750px;
}

.sql-table tr {
    border: 2px solid #153651;   
    font-family: "Cascadia Code", sans-serif;
}

.sql-table td {
    padding: 7px 25px; 
    text-align: left;
}

.table-title {
    font-size: large;
    font-weight: 700;
}

.sql-keyword {
    color: var(--bs-primary);
}

.sql-string {
    color: #ED760E;
}